<footer class="footer mt-5">
    <div class="container">
      <div class="row py-4">
        <!-- Column 1 -->
        <div class="col-md-3">
          <h5 class="footer-heading">COMPANY</h5>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
  
        <!-- Column 2 -->
        <div class="col-md-3">
          <h5 class="footer-heading">SERVICES</h5>
          <ul class="list-unstyled">
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Tracking</a></li>
            <li><a href="#">Warehouse</a></li>
            <li><a href="#">E-commerce Solutions</a></li>
          </ul>
        </div>
  
        <!-- Column 3 -->
        <div class="col-md-3">
          <h5 class="footer-heading">SUPPORT</h5>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
  
        <!-- Column 4 -->
        <div class="col-md-3">
          <h5 class="footer-heading">CONNECT WITH US</h5>
          <ul class="list-inline social-icons">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>

      
  
      <!-- Bottom Copyright Section -->
      <div class="row">
        <div class="col text-center py-2">
          <p class="mb-0 text-muted">&copy; 2024 EcoTrack. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  