<header class="header bg-light-green py-4 sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Logo and Name -->
            <div class="d-flex align-items-center justify-content-start">
                <img src="./Logo-homepage.png" alt="EcoTrack Logo" class="logo">
                <h1 class="ms-3 logo-title">EcoTrack</h1>
            </div>

            <!-- Main Navbar -->
            <div class="menu-container">
                <nav class="menu">
                    <a href="/homepage" class="menu-item">Home</a>
                    <a href="signin" class="menu-item">Orders</a>
                    <a href="/help" class="menu-item">Help & Support</a>
                </nav>
            </div>

            <!-- Side Icons -->
            <div class="profile-icon">
                <a href="/signin">
                    <i class="bi bi-person"></i>
                </a>
            </div>
        </div>
    </div>
</header>