<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <h1 class="text-center mb-3">Company Sign Up</h1>
        <p class="text-center text-muted">Create your company account and start managing your fleet today!</p>
        <form action="/signup" method="post" class="needs-validation signup" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Company Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-building"></i></span>
                    <input class="form-control" type="text" name="name" placeholder="Enter Company Name" required>
                </div>
                <div class="invalid-feedback">Company name should be valid!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="xyz@gmail.com" required>
                </div>
                <div class="invalid-feedback">E-mail should be valid!</div>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Contact</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-phone"></i></span>
                    <input class="form-control" type="text" name="contact" placeholder="Enter Your Contact" required>
                </div>
                <div class="invalid-feedback">Contact should be valid!</div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" name="address" id="address" placeholder="Enter Company Address" required></textarea>
                <div class="invalid-feedback">Invalid address!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input class="form-control" type="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="invalid-feedback">Password should be valid!</div>
            </div>
                <button class="btn btn-dark add-btn col-12 mt-3">Sign Up</button>
        </form>
    </div>
</div>


