<% layout("/layouts/boilerplate") %>


    <link rel="stylesheet" href="css/feature4.css">


    <div class="description-bar">
       Businesses that have adopted the EcoTrack plugin for sustainable and eco-friendly shipping solutions.
    </div>
    <div class="main-container">
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier1.svg" alt="Supplier 1">
                </div>
                <div class="back">
                    <h4>Her</h4>
                    <p>Popular y2k fashion clothing line.</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier2.jpg" alt="Supplier 2">
                </div>
                <div class="back">
                    <h4>Westside</h4>
                    <p>Clothing Line</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier3.jpg" alt="Supplier 3">
                </div>
                <div class="back">
                    <h4>Dark Bean</h4>
                    <p>Coffee and Dessert Cafe</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier4.jpg" alt="Supplier 4">
                </div>
                <div class="back">
                    <h4>Shopping Cart</h4>
                    <p>E-commerce Site</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier1.svg" alt="Supplier 1">
                </div>
                <div class="back">
                    <h4>Her</h4>
                    <p>Popular y2k fashion clothing line.</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier2.jpg" alt="Supplier 2">
                </div>
                <div class="back">
                    <h4>Westside</h4>
                    <p>Clothing Line</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier3.jpg" alt="Supplier 3">
                </div>
                <div class="back">
                    <h4>Dark Bean</h4>
                    <p>Coffee and Dessert Cafe</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier4.jpg" alt="Supplier 4">
                </div>
                <div class="back">
                    <h4>Shopping Cart</h4>
                    <p>E-commerce Site</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier1.svg" alt="Supplier 1">
                </div>
                <div class="back">
                    <h4>Her</h4>
                    <p>Popular y2k fashion clothing line.</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier2.jpg" alt="Supplier 2">
                </div>
                <div class="back">
                    <h4>Westside</h4>
                    <p>Clothing Line</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier3.jpg" alt="Supplier 3">
                </div>
                <div class="back">
                    <h4>Dark Bean</h4>
                    <p>Coffee and Dessert Cafe</p>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="flip-card">
                <div class="front">
                    <img src="supplier4.jpg" alt="Supplier 4">
                </div>
                <div class="back">
                    <h4>Shopping Cart</h4>
                    <p>E-commerce Site</p>
                </div>
            </div>
        </div>
    </div>
