<% layout("/layouts/boilerplate") %>

  <link rel="stylesheet" href="css/help-support.css">

    <!-- <header>
        <div class="logo">EcoTrack</div>
        <div class="get-in-touch">
            <button>Get in touch</button>
        </div>
    </header> -->
    
    <main>
        <section class="search-section">
            
            <h1><img src="element.png" class="doodle1">What can we help you with?</h1>
            <div class="search-box">
                <input type="text" placeholder="Type your question here...">
                <button class="search-btn"><a href="#">Search articles </a></button>
            </div>
           <div class="doodle">
               <img src="doodle2.png" class="doodle1">
           </div>
        </section>
        
        <section class="categories">
            <div class="category">
                <div class="icon">
                    <img src="start.svg" style="width: 90px;">
                </div>
                <h2>Getting Started</h2>
                <p>10 articles</p>
            </div>
            <div class="category">
                <div class="icon">
                    <img src="troubleshooting.png" >
                </div>
                <h2>Troubleshooting and FAQs</h2>
                <p>10 articles</p>
            </div>
            <div class="category">
                <div class="icon">
                    <img src="account.png" >
                </div>
                <h2>Account Management</h2>
                <p>19 articles</p>
            </div>
            <div class="category">
                <div class="icon">
                    <img src="delivery.png" >
                </div>
                <h2>Shipping Practices</h2>
                <p>19 articles</p>
            </div>
            
        </section>
    </main>
