<% layout("/layouts/boilerplate-user")  %>

    <link rel="stylesheet" href="css/userHome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

    <div class="container">
        <main>
            <section class="home-cards">
                <a href="/addVehicle">
                    <div class="card">
                        <img src="shipping.png" alt="Enter Vehicle Details">
                        <div class="card-content">
                            <h3>Enter Vehicle Details</h3>
                        </div>
                    </div>
                </a>
                <a href="/addDriver">
                    <div class="card">
                        <img src="delivery-partner.png" alt="Enter Delivery Partner Details">
                        <div class="card-content">
                            <h3>Enter Delivery Partner Details</h3>
                        </div>
                    </div>
                </a>
            </section>
        </main>
    </div>
