/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9fafb;
}


/* Main Content */
main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cards Section */
.home-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

/* Card Styling */
.card {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    flex-direction: column;
    background: linear-gradient(45deg, #8fbc8f, #b0e5a0);
}

/* Image inside card */
.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

/* Hover Effect for Card */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #76c777, #90eb86); /* Animate background on hover */
}

/* Hover image effect */
.card:hover img {
    opacity: 0.8;
}

/* Card Content */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content a {
    color: #076213;
}

.card h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #076213;
}

/* Buttons */
.btn {
    padding: 8px 12px;
    background-color: #21583a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

a{
    text-decoration: none !important;
}

